<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Check-Up Date</title>
</head>

<body>
  <nav>
    <!-- NAVBAR -->
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

    <!-- BOOK DATE FORM -->
    <div class="login-form">
      <h2>Book A Date</h2>
      <form action="/user/:userId/bookTest" method="post">
        <label for="check-up-date">When is the good time for your check-up?</label>
        <input type="date" name="checkUpDate" id="checkUpDate">
      </form>
    </div>

  </nav>
</body>

</html>