
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LABVERSE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class = "banner">
        <div class="navbar">
            <img class = "logo" src="" alt="">
            <ul>
                <a href="/user/login"><li>Sign In</li></a>
                <li><a href=""></a>Admin Sign In </li>
                <li><a href=""></a>Contact</li>
            </ul>
        </div>
        <div class = "content">
            <h1>Personal Lab Test Assessment</h1>
            <p>Track your health in one simple app</p>
            <div>
                <a href="/user/register"><button>Sign-Up</button></a>
                <a href="/user/:userId/bookTest"><button>Appoint Now</button></b></a>

            </div>
        </div>
    </div>
</body>
</html>