<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .report-content {
            border: 3px solid black;
            padding: 9px;
            box-shadow: 10px 10px 10px #888888;
            margin: 30px;
        }

        .report-header {
            border: 0px solid black;
            height: 150px;

        }

        .report-body {
            margin-top: 80px;
            border: 0px solid black;
            height: 300px;
            text-align: center;
            font-size: 100px;
            padding: 100px;
            transform: rotate(-50deg);
            color: grey;
            text-transform: uppercase;
        }

        .report-sign {
            border: 0px solid black;
            height: 100px;
            margin: 30px 30px;

        }

        .report-footer {
            border: 0px solid black;
            height: 150px;
        }

        img {
            height: 100%;
            width: 100%;
        }

        .lab-doctor-sign {
            float: right;

        }

        .report-sign img {
            height: 50px;
            width: 100px;
            display: inline-block;
        }

        .lab-incharge-sign {
            display: inline-block;
        }

        .align-left {
            text-align: ;
            padding: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="report-content">
        <div class="report-header">
            <!-- <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_report_header.jpg" -->
                <!-- alt="lab-name-header" /> -->
        </div>
        <div class="patient-details">
            <hr>
            <table border="0">
                <tr>
                    <td>Patient Name:<input type="text" name="" id=""></td>
                    <td class="align-left">Reffered By:<input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Age/Sex:<input type="text" name="" id=""></td>
                    <td class="align-left">Date:<input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Daily Case Number:<input type="text" name="" id=""></td>
                    <td class="align-left">Patient ID/UHID:<input type="text" name="" id=""></td>
                </tr>

                <td>Check-Up Date:<input type="text" name="" id=""></td><br>
                <td>Result-Up Date:<input type="text" name="" id=""></td><br>
            </table>
            <hr>
        
        </div>
        <table>
            <tr>
                <th>PEMERIKSAAN</th>
                <th>HASIL</th>
                <th>HASIL NILAI RUJUKAN SATUAN</th>
                <th>KETERANGAN</th>
            </tr>

            <tr>
                <td>Blood Type:<input type="text" name="" id=""></td><br>
            </tr>
            <tr>
                <td>Cholestrol:<input type="text" name="" id=""></td><br>
            </tr>
            <tr>
                <td>Uric Acid:<input type="text" name="" id=""></td><br>
            </tr>

            <tr>
                <td>Blood Glucose:<input type="text" name="" id=""></td><br>
            </tr>
            <tr>
                <td>Weight:<input type="text" name="" id=""></td><br>
            </tr>
            <tr>
                <td>Height:<input type="text" name="" id=""></td><br>
            </tr>

        </table>

    

        <div class="report-sign">
            <div class="lab-incharge-sign">

                <img
                    src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_lab_incharge_sign.jpg" />
                <figcaption>Mr. Sachin Sharma</figcaption>
            </div>
            <div class="lab-doctor-sign">
                <img
                    src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_pathologist_sign.jpg" />
                <figcaption>Dr. A.K. Asthana</figcaption>
            </div>

        </div>

        <div class="report-footer">
            <!-- <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_report_footer.jpg" -->
                <!-- alt="lab-footer"> -->
        </div>


    </div>

</body>

</html>