<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .report-content {
            border: 3px solid black;
            padding: 9px;
            box-shadow: 10px 10px 10px #888888;
            margin: 30px;
        }

        .report-header {
            border: 0px solid black;
            height: 150px;

        }

        .report-body {
            margin-top: 80px;
            border: 0px solid black;
            height: 300px;
            text-align: center;
            font-size: 100px;
            padding: 100px;
            transform: rotate(-50deg);
            color: grey;
            text-transform: uppercase;
        }

        .report-sign {
            border: 0px solid black;
            height: 100px;
            margin: 30px 30px;

        }

        .report-footer {
            border: 0px solid black;
            height: 150px;
        }

        .lab-doctor-sign {
            float: right;

        }

        .report-sign img {
            height: 50px;
            width: 100px;
            display: inline-block;
        }

        .lab-incharge-sign {
            display: inline-block;
        }

        .align-left {
            text-align: ;
            padding: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB RESULT</title>
</head>


<body>
<form action="">

    <div class="report-content">
        <div class="report-header">

            <h2>Laboratory Name : Prodia Laboratorium</h2>
            <h2>Location: Dharmawangsa 30</h2>
            <h2>No-Telp:02142546</h2>

        </div>
        <div class="patient-details">
            <hr>
            <h2>Patient's Detail</h2>
            <table border="1" ; style="border-collapse: collapse; border-radius: 20px;">
                <tr>
                    <td class="align-left">Patient Name:Cecep</td>
                    <td class="align-left">Gender:Male<input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td class="align-left">Age:<input type="text" name="" id=""></td>
                    <td class="align-left">Check-Up Date:<input type="text" name="" id=""></td><br>
                </tr>
                <tr>
                    <td class="align-left">Result-Up Date:<input type="text" name="" id=""></td><br>
                    <td class="align-left">Patient ID/UHID:<input type="text" name="" id=""></td>
                </tr>
                <tr>


                </tr>


            </table>
            <hr>

        </div>

            <table border="1" ; style="border-collapse: collapse;";>
                <tr>
                    <th>PEMERIKSAAN</th>
                    <th>HASIL</th>
                    <th>HASIL NILAI RUJUKAN SATUAN</th>
                    <th>KETERANGAN</th>
                </tr>

                <tr>
                    <td>Blood Type</td>
                    <td>O</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Cholestrol</td>
                    <td>214</td>
                    <td>190Mg</td>
                    <td>Diatas ambang normal</td>
                </tr>

                <tr>
                    <td>Uric Acid</td>
                    <td>3.14</td>
                    <td>2.0Mg</td>
                    <td>Diatas ambang normal</td>
                </tr>

                <tr>
                    <td>Blood Glucose</td>
                    <td>90</td>
                    <td>
                        <90< /td>
                    <td>Normal</td>
                </tr>

                <tr>
                    <td>Weight</td>
                    <td>50</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Height</td>
                    <td>160</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

            </table>

            <div class="report-sign">
                <div class="lab-incharge-sign">

                    <img
                        src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_lab_incharge_sign.jpg" />
                    <figcaption>Mr. Sachin Sharma</figcaption>
                </div>
                <div class="lab-doctor-sign">
                    <img
                        src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_pathologist_sign.jpg" />
                    <figcaption>Dr. A.K. Asthana</figcaption>
                </div>

            </div>
            <a href="/userprofile">BACK</a>
            <div class="report-footer">
                <!-- <img src="https://labsmart-healthcare-trial.s3.us-west-2.amazonaws.com/diagnostic_lab_524/sample_report_footer.jpg" -->
                <!-- alt="lab-footer"> -->
            </div>

    </div>
</form>
</body>

</html>